@using BlazorChess.Client.Chess.Components;
@using BlazorChess.Client.Chess.Online.Components;

@page "/Chess/Online/{PlayerSideStr}/{GameId:guid}"
@*@page "/Chess/Online/{GameId:guid}"*@

@inherits ChessGame

<PageTitle> Online game: @Context.PlayerSide </PageTitle>

<HeadContent>
	<meta property="og:title" content="Join online chess match">
	<meta property="og:description" content="You have been invated to play chess.">
</HeadContent>

<h3>
	Online game: @Context.PlayerSide
	<button class="btn btn-primary float-end" @onclick="CopyInvitationLink">Copy invitation link</button>
</h3>

<ChessContextWrapper Context="@Context">

	<div @ref="@GameFrame" class="bg-light">
		<SignalReciever @ref="@OpponentInput" InputForSide="@OpponentSide" OnlineGame="@OnlineGame"/>
		<MouseInput @ref="@PlayerInput" InputForSide="@PlayerSide">
			<ChessRenderer @ref="Renderer" Spritesheet="Spritesheet"/>
		</MouseInput>
		<ChessSpritesheet @ref="Spritesheet"/>
	</div>

	<hr/>
	<GameStatus @ref="GameStatus"/>
	<FullScreenButton TargetElement="GameFrame"></FullScreenButton>

</ChessContextWrapper>


