@using BlazorChess.Client.Chess.Components;

@page "/Chess/AI/{PlayerSideStr}"
@inherits ChessGame

<h3>Chess</h3>

<ChessContextWrapper Context="Context">

	<div @ref="@GameFrame" class="bg-light">
		<ChessBot @ref="@OpponentInput" InputForSide="@OpponentSide"/>
		<MouseInput @ref="@PlayerInput" InputForSide="@PlayerSide">
			<ChessRenderer @ref="Renderer" Spritesheet="Spritesheet"/>
		</MouseInput>
		<ChessSpritesheet @ref="Spritesheet"/>
	</div>

	<hr/>
	<button class="btn btn-primary" @onclick="RestartGame"> Restart </button> 
	<FullScreenButton TargetElement="GameFrame"></FullScreenButton>
	<GameStatus @ref="GameStatus"/>

</ChessContextWrapper>

