@using BlazorChess.Client.Chess.Components;

@page "/Chess/AI/{PlayerSideStr}"
@inherits ChessGame

<PageTitle>Chess with CPU</PageTitle>
<h3>Chess with CPU</h3>

<HeadContent>
	<meta property="og:title" content="Chess match against computer">
</HeadContent>

<ChessContextWrapper Context="@Context">

	<div @ref="@GameFrame" class="bg-light">
		<ChessBot @ref="@OpponentInput" InputForSide="@OpponentSide"/>
		<MouseInput @ref="@PlayerInput" InputForSide="@PlayerSide">
			<ChessRenderer @ref="Renderer" Spritesheet="Spritesheet"/>
		</MouseInput>
		<ChessSpritesheet @ref="Spritesheet"/>
	</div>

	<hr/>
	<button class="btn btn-primary" @onclick="RestartGame"> Restart </button> 
	<FullScreenButton TargetElement="GameFrame"></FullScreenButton>
	<GameStatus @ref="GameStatus"/>

</ChessContextWrapper>

