@using BlazorChess.Client.Chess.Components;

@page "/Chess/Local/{PlayerSideStr?}"
@inherits ChessGame

<PageTitle>Local game</PageTitle>
<h3>Local game</h3>

<HeadContent>
	<meta property="og:title" content="Chess match on local device">
</HeadContent>

<ChessContextWrapper Context="@Context">

	<div @ref="@GameFrame" class="bg-light">
		<MouseInput @ref="@OpponentInput" InputForSide="@OpponentSide">
		<MouseInput @ref="@PlayerInput" InputForSide="@PlayerSide">
			<ChessRenderer @ref="Renderer" Spritesheet="Spritesheet"/>
		</MouseInput>
		</MouseInput>
		<ChessSpritesheet @ref="Spritesheet"/>
	</div>

	<hr/>
	<button class="btn btn-primary" @onclick="RestartGame"> Restart </button> 
	<FullScreenButton TargetElement="GameFrame"></FullScreenButton>
	<GameStatus @ref="GameStatus"/>

</ChessContextWrapper>
